body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  min-height: 100vh;
}

.main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.card {
  background: aqua;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  padding: 10px;
  width: 100%;
  height: 100%;
}