.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  padding: 0;
  
}

.container span {
  z-index: 1000;
  cursor: pointer;
}


.cardCarousel {
  list-style: none;
  padding: 0;
  position: relative;
  
}

.card {

  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.75s ease;
  opacity: 0; 
  position: absolute;
  transform: scale(1) translateX(40px);
}

.card.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 3;
}

.card.next {
  opacity: 0.6;
  z-index: 2;
  transform: scale(0.9) translateX(40px);
}

.card.prev {
  transform: scale(0.9) translateX(-40px);
  z-index: 1;
  opacity: 0.6;
  
}
